@use "vars.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Press+Start+2P&display=swap");

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	background-color: $bg;
	color: #fff;
}

main {
	padding-top: 7rem;
	width: 100%;
	max-width: 60rem;
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Press Start 2P", sans-serif;
}

h1 {
	font-size: 1.9rem;
}

h2 {
	font-size: 1.2rem;
}

h3 {
	font-size: 1rem;
}

.btn {
	--default-inner-border-color: #1f004b;
	--default-outer-border-color: #1f004b;
	background-color: $primary;
	color: $bg;
	padding: 0.5rem 1rem;

	&:hover {
		background-color: rgba($primary, 0.5);
		color: #fff;
	}
}
