$bg: #1c1c1c;
$fg: #fff;
$primary: #5ed9f2;
$secondary: #6839eb;
$error: #fa355c;
$warning: #f5d820;

:root {
	--color-primary: #{$primary};
    --color-secondary: #{$secondary};
	--color-error: #{$error};

    --pixel-alert-box-shadow-default: calc(-1 * (var(--box-shadow-width))) 0 0 0 var(--ring),
		var(--box-shadow-width) 0 0 0 var(--ring),
		0 var(--box-shadow-width) 0 0 var(--ring),
		0 calc(-1 * (var(--box-shadow-width))) 0 0 var(--ring);
    --pixel-alert-box-shadow-success: calc(-1 * (var(--box-shadow-width))) 0 0 0 var(--color-secondary),
		var(--box-shadow-width) 0 0 0 var(--color-secondary),
		0 var(--box-shadow-width) 0 0 var(--color-secondary),
		0 calc(-1 * (var(--box-shadow-width))) 0 0 var(--color-secondary);
    --pixel-alert-box-shadow-destructive: calc(-1 * (var(--box-shadow-width))) 0 0 0 var(--color-error),
		var(--box-shadow-width) 0 0 0 var(--color-error),
		0 var(--box-shadow-width) 0 0 var(--color-error),
		0 calc(-1 * (var(--box-shadow-width))) 0 0 var(--color-error);
}
