@use "../../styles/vars.scss" as *;

.contact {
	padding-top: 5rem;
    padding-bottom: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	h2,
	h3 {
		text-align: center;
		margin-bottom: 2rem;
	}

	.contact-info {
		width: 35rem;
	}

	.contact-form {
        margin-top: 3rem;
		width: 35rem;

		form {
			display: flex;
			flex-direction: column;
			gap: 2rem;
            width: 100%;
            max-width: 50rem;

            label {
                margin: 0;
            }

            & > div {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }

            button {
                align-self: center;
            }
		}
	}
}

.alert {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	z-index: 1000;
}
