@use "@/styles/vars.scss" as *;

.hero {
	width: 100%;
	height: 60vh;
	display: flex;
	align-items: center;
	gap: 5rem;

	.info {
		width: 65%;

		.info-content {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			margin-bottom: 1rem;

			h1 {
				background-color: $secondary;
				margin-left: -1rem;
				padding-left: 1rem;
				border-right: 2px solid rgba(255, 255, 255, 0.75);
				white-space: nowrap;
				overflow: hidden;
				animation: typewriter 2s steps(50) 1s 1 normal both,
					blinkingCursor 500ms steps(50) infinite normal;
			}

			p span {
				font-family: "Press Start 2P", sans-serif;
				font-size: 0.7rem;
				color: $primary;
			}
		}

		.info-social {
			display: flex;
			gap: 1rem;
		}
	}

	.image {
		width: 35%;
	}
}

@keyframes typewriter {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
@keyframes blinkingCursor {
	from {
		border-right-color: rgba(255, 255, 255, 0.75);
	}
	to {
		border-right-color: transparent;
	}
}
