@use "@/styles/vars.scss" as *;

.skills {
	width: 100%;
	padding-top: 3rem;

	.header {
		h2 {
			text-align: center;
			margin-bottom: 2rem;
		}

		.badge {
			display: flex;
			align-items: center;
			gap: 0.8rem;
			margin-bottom: 1rem;

			.circle {
				background-color: $secondary;
				width: 1rem;
				height: 1rem;
				border-radius: 50%;
			}
		}
	}
}
