@use "@/styles/vars.scss" as *;

footer {
    width: 100%;
    height: 5rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 1rem;
    padding: 0 10rem;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    .credits {
        justify-self: start;
    }

    .copyright {
        justify-self: center;   
        text-align: center;
    }
    

    .social{
        display: flex;
        align-items: center;
        justify-content: center;
        justify-self: end;
        
        a img {
            width: 1.5rem;
            height: 1.5rem;
            margin: 0 0.5rem;
        }
    }
}