@use "@/styles/vars.scss" as *;

.category-skills {
	width: 100%;

	.skills-slider {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .arrow-button {
            background: none;
            border: none;
            cursor: pointer;
            padding: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: opacity 0.2s;

            &:disabled {
                opacity: 0.3;
                cursor: not-allowed;
            }

            &:not(:disabled):hover {
                opacity: 0.8;
            }
        }

		.skills-items {
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;
			margin-top: 1rem;
            width: 100%;
            max-width: calc(4.5rem * 8 + 1rem * 7);
            justify-content: center;
		}
	}
}
