@use "@/styles/vars.scss" as *;

.viewer-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 20;
}

.pdf-viewer {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: 80%;
	padding: 1rem;
	z-index: 30;

	.close-btn {
		cursor: pointer;
		background-color: $error;
		color: $bg;
		position: absolute;
		top: -1.5rem;
		right: -1.5rem;
		transition: all 0.2s ease-in-out;

		&:hover {
			background-color: rgba($error, 0.8);
		}
	}

	iframe {
		width: 100%;
		height: 100%;
		border: none;
	}
}
